@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.textField fieldset {
  border-radius: 30px;
}

.image {
  border-radius: 12px;
}

.strikethrough {
  text-decoration: line-through;
  color: #8F8F8F;
}
